.expenses-content {
  min-height: 50rem;
  background-color: #FAFAFA;
  padding: 2rem 2rem;
  border-radius: 12px;
  width: 90%;
  min-width: 30rem;
  margin: 6rem auto 3rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
  background-color: antiquewhite;
  overflow: scroll;
  height: 30rem;
  margin: 1rem 0;
  font-size: 0.8rem;
  border: 1px solid lightgray;
}

.table-cell {
  word-wrap: break-word;
  border: 1px solid lightgray;
  padding: 0;
  color: dimgrey;
  min-width: 6rem;
  max-width: 12rem;
}


.table-head {
  background-color: lightgray;
  position: sticky;
  top: 0;
}

.table-head-cell {
  color: dimgrey;
  padding: 0;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.expenses-pagination {
  justify-content: center;
  align-items: center;
}

.pagination-input {
  width: 4rem;
  height: 1.8rem;
  margin: auto 0.5rem;
}