#tarot-images-area {
    margin: 1rem;
    padding: 0;
}

#tarot-images {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.tarot-image-cell {
    width: 30%;
    height: auto;
    align-items: center;
    text-align: center;
    border: #999999 solid 1px;
    background-color: #eee;
}

.tarot-image-cell:hover {
    background-color: lightsteelblue;
}

.tarot-image-reversed {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.draggable {

}

.dragging {
    opacity: .5;
}

.draggable-container {

}

.dragover {
    background-color: cadetblue;
}
