{% extends 'records_base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block css_files %}
      <link rel="stylesheet" href="{% static "records/records.css" %}" />
      <link rel="stylesheet" href="{% static "records/record-filter.css" %}" />
      <link rel="stylesheet" href="{% static "records/tarot_images.css" %}" />
{% endblock %}

{% block js_scripts %}
    <script type="text/javascript">
        let EXISTING_LABELS = {{existing_labels|safe}};
        const CSRF_TOKEN = '{{ csrf_token }}';
        let TAROT_LABELS = {{ tarot_labels|safe }};
        const LABEL_AJAX_URL = {% url "records-index-page" %} + "label-info/";
        const LABEL_LIST_AJAX_URL = {% url "records-index-page" %} + "label-list/";
    </script>
    <script src="{% static "records/drag_manager.js" %}" defer></script>
    <script src="{% static "records/record-filter.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="content">
        <h4>{{ title }}</h4>
        <form action=" {% if title == "Add New Record" %}
                          {% url 'add-record' %}
                       {% else %}
                          {% url 'edit-record' record_id %}
                       {% endif %}"
              method="POST"
              enctype="multipart/form-data"
              id="add-edit-record-form"
        >
            {% csrf_token %}
            {% for field in form %}
                {% if "Content" in field.label_tag %}
                    <div id="tarot-images-edit-area">
                        {% include "records/includes/tarot_images_edit.html" %}
                    </div>
                    <div class="form-row record-input {% if field.errors %}error-message{% endif %}">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% elif "Delete images" in field.label_tag %}
                    {% if field.field.choices %}
                        <div class="form-row record-input {% if field.errors %}error-message{% endif %}">
                            {{ field.label_tag }}
                            <ul>
                                {% for image_id, image in field.field.choices %}
                                    <li>
                                        <input type="checkbox" name="delete_images" value="{{ image_id }}" id="{{ image.picture.name }}"/>
                                        <label for="{{ image.picture.name }}">
                                            <img class="medium-img" src="{{ image.picture.url }}" alt="{{ image.picture.name }}"/>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% elif "Labels" in field.label_tag %}
                    {% include "records/includes/record_edit_label_filter.html" %}
                {% elif "Metadata" in field.label_tag %}

                {% else %}
                    <div class="form-row record-input {% if field.errors %}error-message{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
            <input class="button-1" type="button" value="Submit" onclick="submitAddRecordForm('{{ post_url }}')">
        </form>
    </div>
{% endblock %}