{% extends "records_base.html" %}
{% load static %}

{% block title %}
    All-Records
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "records/records.css" %}" />
    <link rel="stylesheet" href="{% static "records/record-filter.css" %}">
{% endblock %}

{% block js_scripts %}
    <script type="text/javascript">
        let EXISTING_LABELS = {{labels|safe}};
        const CSRF_TOKEN = '{{ csrf_token }}';
        let TAROT_LABELS = {{ tarot_labels|safe }};
    </script>
    <script src="{% static "records/record-filter.js" %}"></script>
{% endblock %}

{% block content %}

    {% include 'records/includes/record_filter.html' %}

    <div class="records-list tall_list_item under-other-content">
        {% if not page_obj %}
            <p>No records to show!</p>
        {% endif %}
        <ul>
        {% for record in page_obj %}
            <li>
            {% include "records/includes/record_summary.html" %}
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
{% endblock %}