{% extends 'records_base.html' %}
{% load static %}

{% block title %}
    {{ record.title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "records/records.css" %}" />
    <link rel="stylesheet" href="{% static "records/tarot_images.css" %}" />
{% endblock %}

{% block content %}
    <div class="content">
        <h2>{{ record.title }}</h2>
        <p><span class="column-name">Created By  </span>{{ record.created_by }}</p>
        <p><span class="column-name">Created At  </span>{{ record.created_date }}</p>
        <p><span class="column-name">Modified At  </span>{{ record.last_modified_date }}</p>
        <p>
            <span class="column-name">Labels</span>
            {% for label in record.labels.all %}
                <span class="label-name {% if label.type == 'TAROT' %}label-name-tarot{% endif %}">
                    <a href="{% url 'records' %}?labels={{ label.name }}">{{ label.name }}</a>
                </span>
            {% endfor %}
        </p>
        <div class="buttons">
            <div class="{% if can_edit %} button-1 {% else %} button-disabled {% endif %}">
                <a href={% url 'edit-record' record.id %}>Edit Record</a>
            </div>
            <div class="{% if can_edit %} button-1 {% else %} button-disabled {% endif %}">
                <a href={% url 'delete-record' record.id %}>DELETE Record</a>
            </div>
            <div class="{% if has_expenses %} button-1 {% else %} button-disabled {% endif %}">
                <a href={% url 'expenses' record.id %}>Expense</a>
            </div>
        </div>
        {% include "records/includes/tarot_images.html" %}
        <article class="record-detail-content">{{ record.content }}</article>
        <div>
            {% if record.pictures.all %}
                {% for picture in record.pictures.all %}
                    <img src="{{ picture.picture.url }}" alt="{{ record.title }}"/>
                {% endfor %}
            {% endif %}
        </div>
        <div class="file-list">
            {% if record.files.all %}
                <h4>Files: </h4>
                {% for file in record.files.all %}
                    <div class="file-list-item"><a href="{{ file.file.url }}" download="{{  file.filename }}">Download: {{ file.filename }}</a></div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}