<div id="record-edit-label">
    <div>
        <div id="filter-labels">
            <div class="filter-title">Labels</div>
            <div id="filter-selected-labels">
                <div id="labels-selected-area">
                    {% for used_label in used_labels %}
                        <div class="label-selected {% if used_label.type == 'TAROT' %}label-selected-tarot{% endif %}" id="selected-{{ used_label.name }}">
                            <div>{{ used_label.name }}</div>
                            <a class="delete-selected-label" href="#" onclick="deleteSelectedLabel('{{ used_label.name }}')"></a>
                        </div>
                    {% endfor %}
                </div>
                <div id="filter-label-selections">
                    <div class="filter-select" id="select-label-by-options">
                        <label>Select Label</label>
                        <input id="label-like-filter-input" type="text" placeholder="Search">
                        <div class="filter-button"><a onclick="searchLabelLike()">Search</a></div>
                        <select id="select-label-select">
                            <option value="" disabled selected>Select Label</option>
                            {% for label_name in existing_labels %}
                                <option value="{{ label_name }}">{{ label_name }}</option>
                            {% endfor %}
                        </select>
                        <div class="filter-button"><a onclick="addSelectedLabelByOption()">Add</a></div>
                    </div>
                    <div class="filter-select" id="select-label-by-text">
                        <label>Add Label</label>
                        <input id="select-label-text" type="text">
                        <div class="filter-button"><a onclick="addSelectedLabelByText(true)">Add</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>